.Googlesearch {
  text-align: center;
  background: url('https://source.unsplash.com/collection/190727/1600x900') no-repeat center center/cover;
  background-color: rgb(32, 72, 158);
  background-position: center center;
  height: 100vh;  
  background-repeat: no-repeat;  
  background-size: cover;
}


.Nav{
  height: 8vh;
  padding: 10px;
  background: none;
}

.NavMenu{
  display: grid;
  grid-template-columns: repeat(3, auto);
  color: #444;
  max-width:  400px;
  margin: 0px 0px 0px 75vw ;  
  padding: auto;
}

.NavMenu #close{
  margin: auto;
  position: relative;
  top: 4px;
  background: none;
  outline: none;
  color: #fff;
  display: none;
  border: none;
  font-size: 1.6rem;
}

.NavMenu #open{
  margin: auto;
  position: relative;
  top: 4px;
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.6rem;

}
#open:hover{
  background: #90909044;
  cursor:pointer;
}
#close:hover{
  background: #90909044;
  cursor:pointer;

}
.NavMenu a{
  position: relative;
  top: 8px;
  text-decoration: none;
  color: #fff;
}
.menuCell{
  margin: auto;
}
.userIcon{
  background: red;
  color: #fff;
  display: none;
   
}
.userIcon:hover{
  background: rgba(255, 255, 255, 0.185);
}

.AppModal{
  position: fixed;
  border-radius: 6px;
  color: #fff;
  width: 20vw;
  float: right;
  margin-right: 20px;
  height: fit-content;
  display: none;
  z-index: 1;
  right:20px;
}

.AppGrid{
  border: 1px solid black;
  height: 400px;
  width: 320px;
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 20px;
  position: fixed;
  background-color: #303030;
  border-radius: 8px;
  right: 20px;
  box-shadow: rgba(12, 12, 12, 0.356) 2px 2px 2px 2px;

}

.AppGrid::-webkit-scrollbar{
  border-radius: 8px;
  width: 18px;
}
.AppGrid::-webkit-scrollbar-track{
  background: #303030;
  border-radius: 8px;
  border-left: 5px solid #303030;
  border-right: 5px solid #303030;

}

.AppGrid::-webkit-scrollbar-thumb{
  background: #909090;
  border: 6px solid #303030;
  border-radius: 8px;
}
.Appcell{
  height: auto;
  width: auto;
  padding: 2px;
  position:relative;
}
.modalcell{
  height: auto;
  width: auto;
  position:relative;
}
 
.modalcell a{
  height: auto;
  width: auto;
  padding: 15px;
  background: none;
  position:relative;
}
.modalAppLogo{
  margin: auto;
  position:relative;
}

.Body{
  height: 88vh;
  padding-top: 0px;
  position: relative;
}
.Banner{
  display: block;
  position: relative;
}
.BannerLogo{
  height: 25%;
  width: 25%; 
  position: relative;
  
}
.Layout{
  display: flex;
  position: relative;
  width:  36%;
  height: 48px;
  border-radius: 26px;
  margin: auto;
  padding: 0px 20px 0px 20px;
  background-color: #fff;

  }
.searchInput{
  width: 34vw;
  border: none;
  display: flex;
  margin: auto auto;
  height: 46px;
  outline: none;
  font-size: 1.1rem;
  position: relative;
}
.SearchIcon {
  font-size: 1.2rem;
  position: relative;
  bottom: 2px;
  margin-right: 10px;
  color: rgba(56, 56, 58, 0.774);
 
}
.SearchIcon:hover{
  cursor: pointer;
}
.MicrophoneIcon {
  font-size: 1.2rem;
  position: relative;
  bottom: 2px;
  margin-left: 10px;
  color: rgb(53, 157, 226);
}
.MicrophoneIcon:hover{
  cursor: pointer;
}
.Recent{
  width:  36%;
  margin: auto;
  height: 30vh;
  margin-top: 3.6rem;
  padding-right: 20px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  color: #444;
  max-width:  880px;
}

.cell{
  height: auto;
  width: auto;
  padding: 25px;
  background: none;
  
}
.cell:hover{
  background-color: rgba(255, 255, 255, 0.185);
  animation: linear;
}
 
 
.cell a{
  text-decoration: none;
}
.cell p{
  position: relative;
  top: 8px;
  color: #fff;
}
.recentAppLogo{
  margin: auto;
  border: 10px solid white;
  background-color: #fff;
}